VacBot.*_status never gets set

I've been able to use the sucks library to start and stop my Ecovacs N79s.  However, I can't get it to accurately to report status on anything.

I'm using the Cmdswitch2-Ecovacs script: https://github.com/EtienneMD/Cmdswitch2-Ecovacs to integrate with Homebridge.

Running the script through the debugger, I can see the request to get charge status:

`
DEBUG:sucks:Sending command <iq id="XXX" to="XXX" from="XXX" type="set"><query xmlns="com:ctl"><ctl td="GetChargeState" /></query></iq>
DEBUG:sleekxmpp.xmlstream.xmlstream:SEND: <iq id="XXX" to="XXX" from="XXX" type="set"><query xmlns="com:ctl"><ctl td="GetChargeState" /></query></iq>
DEBUG:sleekxmpp.xmlstream.xmlstream:RECV: <iq to="XXX" type="result" id="XXX" from="XXX" />
DEBUG:sleekxmpp.xmlstream.xmlstream:RECV: <iq to="XXX" type="set" id="25665" from="XXX"><query xmlns="com:ctl"><ctl id="" ret="ok" errno=""><charge type="SlotCharging" /></ctl></query></iq>
`

I see the response is sending the correct answer, but inside EcoVacsXMPP._handl_ctl(), the  message.getpayload() call only returns the outer <ctl> element and none of the `<charge>` element that actually contains the information.  I'm guessing this is why the status information isn't being set.

I don't know enough about SleekXMPP to get to the next step.  I'm hoping you can shed some light as to where to look to solve the problem.


`_handle_charge_state` never gets called (put a breakpoint there first...)  

Here's what I'm running:

`vacbot = ConnectVac()
vacbot.run(GetChargeState())

_LOGGER.debug("Charge Status:[" + str(vacbot.charge_status) + "]")

sleep(5)

_LOGGER.debug("Charge Status:[" + str(vacbot.charge_status) + "]")
`

`DEBUG:root:Switching to shorter UID XXX
DEBUG:root:EcoVacsAPI connection complete
DEBUG:sucks:calling user api GetDeviceList with {'userid': 'XXX', 'auth': {'with': 'users', 'userid': 'XXX', 'realm': 'ecouser.net', 'token': 'XXX', 'resource': 'XXX'}}
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): users-na.ecouser.net:8000
DEBUG:urllib3.connectionpool:https://users-na.ecouser.net:8000 "POST /user.do HTTP/1.1" 200 171
DEBUG:sucks:got {'todo': 'result', 'result': 'ok', 'devices': [{'did': 'XXX', 'name': 'XXX', 'class': '155', 'resource': 'atom', 'nick': None, 'company': 'eco-legacy'}]}
DEBUG:sleekxmpp.plugins.base:Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
DEBUG:sleekxmpp.plugins.base:Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
DEBUG:sleekxmpp.plugins.base:Loaded Plugin: RFC 3920: Stream Feature: Start Session
DEBUG:sleekxmpp.plugins.base:Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
DEBUG:sleekxmpp.plugins.base:Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
DEBUG:sleekxmpp.plugins.base:Loaded Plugin: RFC 6120: Stream Feature: SASL
WARNING:sleekxmpp.basexmpp:fulljid property deprecated. Use boundjid.resource
DEBUG:sleekxmpp.xmlstream.xmlstream:Waiting 1.9544798217727324 seconds before connecting.
DEBUG:sleekxmpp.xmlstream.resolver:DNS: Querying msg-na.ecouser.net for AAAA records.
DEBUG:sleekxmpp.xmlstream.resolver:DNS: Querying msg-na.ecouser.net for A records.
DEBUG:sleekxmpp.xmlstream.xmlstream:Connecting to [::ffff:47.88.66.164]:5223
DEBUG:sleekxmpp.xmlstream.xmlstream:Event triggered: connected
DEBUG:sleekxmpp.thirdparty.statemachine: ==== TRANSITION disconnected -> connected
DEBUG:sleekxmpp.xmlstream.xmlstream:Starting HANDLER THREAD
DEBUG:sleekxmpp.xmlstream.xmlstream:Loading event runner
DEBUG:sleekxmpp.xmlstream.xmlstream:SEND (IMMED): <stream:stream to='ecouser.net' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG:sleekxmpp.xmlstream.xmlstream:RECV: <stream:stream version="1.0" id="XXX" from="ecouser.net">
DEBUG:sleekxmpp.xmlstream.xmlstream:RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><auth xmlns="http://jabber.org/features/iq-auth" /><starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls><mechanisms xmlns="urn:ietf:params:xml:ns:xmpp-sasl"><mechanism>PLAIN</mechanism></mechanisms></stream:features>
DEBUG:sleekxmpp.xmlstream.xmlstream:SEND (IMMED): <starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls>
DEBUG:sleekxmpp.xmlstream.xmlstream:RECV: <proceed xmlns="urn:ietf:params:xml:ns:xmpp-tls" />
DEBUG:sleekxmpp.features.feature_starttls.starttls:Starting TLS
INFO:sleekxmpp.xmlstream.xmlstream:Negotiating TLS
INFO:sleekxmpp.xmlstream.xmlstream:Using SSL version: TLSv1
DEBUG:sleekxmpp.xmlstream.xmlstream:CERT: -----BEGIN CERTIFICATE-----
<SNIP>
-----END CERTIFICATE-----

DEBUG:sleekxmpp.xmlstream.xmlstream:Event triggered: ssl_cert
WARNING:sleekxmpp.xmlstream.cert:Could not find pyasn1 and pyasn1_modules. SSL certificate COULD NOT BE VERIFIED.
DEBUG:sleekxmpp.xmlstream.xmlstream:SEND (IMMED): <stream:stream to='ecouser.net' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG:sleekxmpp.xmlstream.xmlstream:RECV: <stream:stream version="1.0" id="XXX" from="ecouser.net">
DEBUG:sleekxmpp.xmlstream.xmlstream:RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><auth xmlns="http://jabber.org/features/iq-auth" /><mechanisms xmlns="urn:ietf:params:xml:ns:xmpp-sasl"><mechanism>PLAIN</mechanism></mechanisms></stream:features>
DEBUG:sleekxmpp.xmlstream.xmlstream:SEND (IMMED): <auth xmlns="urn:ietf:params:xml:ns:xmpp-sasl" mechanism="PLAIN">XXX</auth>
DEBUG:sleekxmpp.xmlstream.xmlstream:RECV: <success xmlns="urn:ietf:params:xml:ns:xmpp-sasl" />
DEBUG:sleekxmpp.xmlstream.xmlstream:Event triggered: auth_success
DEBUG:sleekxmpp.xmlstream.xmlstream:SEND (IMMED): <stream:stream to='ecouser.net' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG:sleekxmpp.xmlstream.xmlstream:RECV: <stream:stream version="1.0" id="XXX" from="ecouser.net">
DEBUG:sleekxmpp.xmlstream.xmlstream:RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><bind xmlns="urn:ietf:params:xml:ns:xmpp-bind" /><session xmlns="urn:ietf:params:xml:ns:xmpp-session" /></stream:features>
DEBUG:sleekxmpp.features.feature_bind.bind:Requesting resource: 
DEBUG:sleekxmpp.xmlstream.xmlstream:SEND (IMMED): <iq id="704e24ab-2ebb-4bce-896f-6a34118702f6-1" type="set"><bind xmlns="urn:ietf:params:xml:ns:xmpp-bind" /></iq>
DEBUG:sleekxmpp.xmlstream.xmlstream:RECV: <iq type="result" id="704e24ab-2ebb-4bce-896f-6a34118702f6-1"><bind xmlns="urn:ietf:params:xml:ns:xmpp-bind"><jid>XXX@XXX</jid></bind></iq>
DEBUG:sleekxmpp.xmlstream.xmlstream:Event triggered: session_bind
INFO:sleekxmpp.features.feature_bind.bind:JID set to: XXX@XXX
DEBUG:sleekxmpp.xmlstream.xmlstream:SEND (IMMED): <iq id="704e24ab-2ebb-4bce-896f-6a34118702f6-2" type="set"><session xmlns="urn:ietf:params:xml:ns:xmpp-session" /></iq>
DEBUG:sleekxmpp.xmlstream.xmlstream:RECV: <iq type="result" id="704e24ab-2ebb-4bce-896f-6a34118702f6-2" />
DEBUG:sleekxmpp.features.feature_session.session:Established Session
DEBUG:sleekxmpp.xmlstream.xmlstream:Event triggered: session_start
DEBUG:sleekxmpp.clientxmpp:Finished processing stream features.
DEBUG:sleekxmpp.xmlstream.xmlstream:Event triggered: stream_negotiated
WARNING:sleekxmpp.xmlstream.cert:Could not find pyasn1 and pyasn1_modules. SSL certificate expiration COULD NOT BE VERIFIED.
DEBUG:sucks:----------------- starting session ----------------
DEBUG:sucks:event = {}
DEBUG:sucks:Sending command <iq id="704e24ab-2ebb-4bce-896f-6a34118702f6-3" to="XXX@155.ecorobot.net/atom" from="XXX@XXX" type="set"><query xmlns="com:ctl"><ctl td="GetChargeState" /></query></iq>
DEBUG:sleekxmpp.xmlstream.xmlstream:SEND: <iq id="704e24ab-2ebb-4bce-896f-6a34118702f6-3" to="XXX@155.ecorobot.net/atom" from="XXX@XXX" type="set"><query xmlns="com:ctl"><ctl td="GetChargeState" /></query></iq>
DEBUG:sleekxmpp.xmlstream.xmlstream:RECV: <iq to="XXX@XXX" type="result" id="704e24ab-2ebb-4bce-896f-6a34118702f6-3" from="XXX@155.ecorobot.net/atom" />
DEBUG:__main__:Charge Status:[None]
DEBUG:sleekxmpp.xmlstream.xmlstream:RECV: <iq to="XXX@XXX" type="set" id="26246" from="XXX@155.ecorobot.net/atom"><query xmlns="com:ctl"><ctl id="" ret="ok" errno=""><charge type="SlotCharging" /></ctl></query></iq>
DEBUG:__main__:Charge Status:[None]
DEBUG:sucks:Sending command <iq id="704e24ab-2ebb-4bce-896f-6a34118702f6-4" to="XXX@155.ecorobot.net/atom" from="XXX@XXX" type="set"><query xmlns="com:ctl"><ctl td="GetCleanState" /></query></iq>
DEBUG:sleekxmpp.xmlstream.xmlstream:SEND: <iq id="704e24ab-2ebb-4bce-896f-6a34118702f6-4" to="XXX@155.ecorobot.net/atom" from="XXX@XXX" type="set"><query xmlns="com:ctl"><ctl td="GetCleanState" /></query></iq>
DEBUG:sleekxmpp.xmlstream.xmlstream:RECV: <iq to="XXX@XXX" type="result" id="704e24ab-2ebb-4bce-896f-6a34118702f6-4" from="XXX@155.ecorobot.net/atom" />
DEBUG:sleekxmpp.xmlstream.xmlstream:RECV: <iq to="XXX@XXX" type="set" id="26247" from="XXX@155.ecorobot.net/atom"><query xmlns="com:ctl"><ctl id="" ret="ok" errno=""><clean type="stop" speed="strong" st="h" t="" a="" /></ctl></query></iq>
DEBUG:sleekxmpp.xmlstream.xmlstream:Event triggered: session_end
DEBUG:sleekxmpp.xmlstream.xmlstream:SEND (IMMED): </stream:stream>
INFO:sleekxmpp.xmlstream.xmlstream:Waiting for </stream:stream> from server
DEBUG:sleekxmpp.xmlstream.xmlstream:End of stream recieved
DEBUG:sleekxmpp.xmlstream.xmlstream:Waiting for 3 threads to exit.
DEBUG:sleekxmpp.xmlstream.xmlstream:Stopped event runner thread. 2 threads remain.
DEBUG:sleekxmpp.xmlstream.xmlstream:Stopped send thread. 1 threads remain.
DEBUG:sleekxmpp.xmlstream.scheduler:Quitting Scheduler thread
DEBUG:sleekxmpp.xmlstream.xmlstream:Stopped scheduler thread. 0 threads remain.
DEBUG:sleekxmpp.xmlstream.xmlstream:Event triggered: socket_error
DEBUG:sleekxmpp.xmlstream.xmlstream:Event triggered: disconnected
DEBUG:sleekxmpp.thirdparty.statemachine: ==== TRANSITION connected -> disconnected
DEBUG:sleekxmpp.thirdparty.statemachine:State was not ready`
